.img-1{
    background-image: url("https://wallpaperbat.com/img/46561-blue-and-white-ultra-hd-desktop-background-wallpaper-for-4k-uhd-tv.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-1{
     display: flex;
     align-items: center;
     flex-direction: column;
     height: 400px;
     width: 700px;
    border-radius: 4%;
    background-color: aliceblue;
}
.img-2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
   margin-top: -35px;

}
.details{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 15px; 
}
/* ... existing styles ... */

.update-button {
   background: linear-gradient(to right, rgb(114, 172, 199), rgb(226, 234, 247));
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px; /* Add some space above the button */
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #45a049;
}